@media (max-width: 500px) {
    #video {
        position: absolute;
        transform: rotate(90deg);
        left: -120px;
            height: 100%;
        bottom: 1px;
    }
    .block-ch{
        position: absolute;
        width: 18px;
        height: 80px;
        border-radius: 0 0 6px 6px ;
        background: #000000;
        color: white;
        text-align: center;
        padding: 16px 0 0 0;
        transition: .4s;
    }
    .block{
        width: 26px;
        height: 120px;
        background: #ffffff;
        border-radius: 2px;
        margin: 0 2px 0 0;
        transition: .4s;
    }
    .bla1{
        right: -4px;
    }
    .bla2{
        right: 66px;
    }
    .bla3{
        right: 103px;
    }
    .bla4{
        right: 140px;
    }
    .bla5{
        right: 214px;
    }
    .bla6{
        right: 51px;
    }
    .bla7{
        right: 21px;
    }
    .bla8{
        right: 49px;
    }
    .bla9{
        right: 105px;
    }
    .bla10{
        right: 133px;
    }
    .bla11{
        left: 413px;
    }
    .bla12{
        left: 358px;
    }
    .bla13{
        left:  330px;
    }
    .bla14{
        left: 302px;
    }
    .bla15{
        left:  245px;
    }
    .bla16{
        left: 218px;
    }
    .bla17{
        left:  162px;
    }
    .bla18{
        left:  134px;
    }
    .bla19{
        left: 106px;
    }
    .bla20{
        left: 50px;
    }
    .bla21{
        left: 21px;
    }
}