*{
    padding: 0;
    margin: 0 auto;
}
body{
    background: #000000;
    overflow: hidden;
}
audio{
    z-index: 100;
}
#myVideo {
    position: absolute;
    right: 0;
    min-width: 100%;
    min-height: 10%;
    z-index: -1;
}
.container{
    width: 1140px;
    background: url("./img/tom.mp4") no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0 0 20px 0;
}
.group{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 540px 0 0 0;
    background: cornflowerblue;
    padding: 70px 1px 8px 4px;
    border-radius: 15px 15px 4px 4px;
}
.block{
    width: 35px;
    height: 120px;
    background: #ffffff;
    border-radius: 2px;
    margin: 0 2px 0 0;
    transition: .4s;
}
.bas{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    font-size: 16px;
    top: 10px;
    z-index: 5;
    right: 12px;
    box-shadow: 0 0 20px blueviolet inset;
}
.block-ch{
    position: absolute;
    width: 20px;
    height: 80px;
    border-radius: 0 0 6px 6px ;
    background: #000000;
    color: white;
    text-align: center;
    padding: 16px 0 0 0;
    /*text-replace: ;*/
    transition: .4s;
}
.bg{
    position: absolute;
    width: 99%;
    height: 30px;
    border-radius: 6px;
    z-index: 10;
    top: 56px;
    background: linear-gradient(180deg, rgba(23, 23, 22, 0.73) 10%, rgb(12, 12, 12) 40%);
}
.bla1{
    right: -4px;
}
.bla2{
    right: 66px;
}
.bla3{
    right: 103px;
}
.bla4{
    right: 140px;
}
.bla5{
    right: 214px;
}
.bla6{
    right: 51px;
}
.bla7{
    right: 29px;
}
.bla8{
    right: 66px;
}
.bla9{
    right: 103px;
}
.bla10{
    right: 177px;
}
.bla11{
    left: 547px;
}
.bla12{
    left: 473px;
}
.bla13{
    left:  436px;
}
.bla14{
    left: 399px;
}
.bla15{
    left:  325px;
}
.bla16{
    left: 288px;
}
.bla17{
    left:  214px;
}
.bla18{
    left:  177px;
}
.bla19{
    left: 140px;
 }
.bla20{
    left: 66px;
}
.bla21{
    left: 29px;
}
/*.bla22{*/
/*    left:  103px;*/
/*}*/
/*.bla23{*/
/*    left:  66px;*/
/*}*/
/*.bla24{*/
/*    left: 36px;*/
/*}*/



